@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: "Open Sans", sans-serif;
}

body.base16-dark {
	--fg: #E7E7E7;
	--fg1: #CCC;
	--fg2: #A9A9A9;

	--bg: #20201f;
	--bg1: #464542;
	--bg2: #75746d;
}

body.base16-light {
	--fg: #20201f;
	--fg1: #464542;
	--fg2: #75746d;

	--bg: #E7E7E7;
	--bg1: #CCC;
	--bg2: #A9A9A9;
}