/*
	BASE16 DARK
*/

body.base16-dark {
	--fg: #E7E7E7;
	--fg1: #CCC;
	--fg2: #A9A9A9;

	--bg: #20201f;
	--bg1: #464542;
	--bg2: #75746d;
}

.cm-s-base16-dark.CodeMirror {
	color: #e0e0e0;
	background: #151515;
}

.cm-s-base16-dark div.CodeMirror-selected {
	background: #303030;
}

.cm-s-base16-dark .CodeMirror-line::selection,
.cm-s-base16-dark .CodeMirror-line > span::selection,
.cm-s-base16-dark .CodeMirror-line > span > span::selection {
	background: rgba(48, 48, 48, .99);
}

.cm-s-base16-dark .CodeMirror-line::-moz-selection,
.cm-s-base16-dark .CodeMirror-line > span::-moz-selection,
.cm-s-base16-dark .CodeMirror-line > span > span::-moz-selection {
	background: rgba(48, 48, 48, .99);
}

.cm-s-base16-dark .CodeMirror-gutters {
	background: #151515;
	border-right: 0px;
}

.cm-s-base16-dark .CodeMirror-guttermarker { color: #ac4142; }
.cm-s-base16-dark .CodeMirror-guttermarker-subtle { color: #505050; }
.cm-s-base16-dark .CodeMirror-linenumber { color: #505050; }
.cm-s-base16-dark .CodeMirror-cursor { border-left: 1px solid #b0b0b0; }
.cm-s-base16-dark.cm-fat-cursor .CodeMirror-cursor { background-color: #8e8d8875 !important; }
.cm-s-base16-dark .cm-animate-fat-cursor { background-color: #8e8d8875 !important; }

.cm-s-base16-dark span.cm-comment { color: #8f5536; }
.cm-s-base16-dark span.cm-atom { color: #aa759f; }
.cm-s-base16-dark span.cm-number { color: #aa759f; }
.cm-s-base16-dark span.cm-keyword { color: #ac4142; }
.cm-s-base16-dark span.cm-string { color: #f4bf75; }
.cm-s-base16-dark span.cm-variable { color: #90a959; }
.cm-s-base16-dark span.cm-variable-2 { color: #6a9fb5; }
.cm-s-base16-dark span.cm-def { color: #d28445; }
.cm-s-base16-dark span.cm-bracket { color: #e0e0e0; }
.cm-s-base16-dark span.cm-tag { color: #ac4142; }
.cm-s-base16-dark span.cm-link { color: #aa759f; }
.cm-s-base16-dark span.cm-error { background: #ac4142; color: #b0b0b0; }
.cm-s-base16-dark span.cm-property,
.cm-s-base16-dark span.cm-attribute { color: #90a959; }

.cm-s-base16-dark .CodeMirror-activeline-background {
	background: #202020;
}

.cm-s-base16-dark .CodeMirror-matchingbracket {
	text-decoration: underline;
	color: white !important;
}

.CodeMirror-hints.base16-dark {
	position: absolute;
	z-index: 10;
	overflow: hidden;
	list-style: none;

	margin: 0;
	padding: 2px;

	-webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
	-moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
	box-shadow: 2px 3px 5px rgba(0,0,0,.2);
	border-radius: 5px;
	border: 1px solid #333;

	background: #252525;
	font-size: 90%;
	font-family: monospace;

	max-height: 20em;
	overflow-y: auto;
}

.CodeMirror-hint.base16-dark {
	margin: 0;
	padding: 0 4px;
	border-radius: 2px;
	white-space: pre;
	color: #FFF;
	cursor: pointer;
}

.CodeMirror-hints.base16-dark li {
	color: #E8E8E8;
	border-radius: 5px;
	padding: 5px;
}

.CodeMirror-hints.base16-dark li.CodeMirror-hint-active {
	background: #90a959;
	color: #FFF;
}
